{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block conteudo %}
<div class="row">
  <div class="col-lg-12">
      <br>
      <h1 class="fashion_taital">Contas a Pagar e a Receber</h1>
      </a>
      <hr>
  </div>
</div>

<button type="button" class="list-group-item list-group-item-action"><a href="{% url 'produto:conta_pagar' %}">CONTAS A PAGAR <i class="fa-solid fa-square-plus"></i></a></button>
<button type="button" class="list-group-item list-group-item-action"><a href="{% url 'cliente:conta_receber' %}">CONTAS A RECEBER <i class="fa-solid fa-square-plus"></i></a></button>

  
{% endblock %}