{% extends 'includes/base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load omfilters %}

{% block content %}


<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">

  <div class="flex items-center justify-between mb-4">
   <div class="flex-shrink-0"><br><br><br>
    <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{ title }}</span><br><br>
   </div>
  </div>
 
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
  
      <div class="form-group">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-success">Salvar</button>
          <a href="{% url 'produto:lista_contaspagar' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>

  
{% endblock %}