{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}{{ produto.nome }} | {% endblock %}

{% block conteudo %}
<div class="fashion_section">
    <div class="container">
        <h1>Estoque de Variações para : {{ produto.nome }}</h1>
        <div class="container mt-5">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Variação</th>
                  <th>Estoque</th>
                </tr>
              </thead>
              <tbody>
                {% for variacao in variacoes %}
                  <tr>
                    <td>{{ variacao.nome }}</td>
                    <td>{{ variacao.estoque }}     -  <a href="{% url 'produto:variacao_edit' id=variacao.id %}" class="btn btn-secondary btn-sm">Editar</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</div>

{% endblock %}






