{% extends "includes/base_dashboard.html" %}
{% load omfilters %}

{% block titulo %}Pedidos{% endblock %}

{% block content %}

<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">

  <div class="flex items-center justify-between mb-4">
    <div class="flex-shrink-0"><br><br><br>
      <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">Fiados</span><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <div class="d-flex justify-content-center">
        <form class="input-group" action="{% url 'cliente:buscar_fiado' %}" method="GET">
          <input type="text" class="form-control" placeholder="Pesquise pelo nome do Cliente" name="q"
            aria-label="Pesquisar">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div><br>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
            Data da compra
          </th>
          <th scope="col" class="px-6 py-3">
            Data do pagamento
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
            Valor
          </th>
          <th scope="col" class="px-6 py-3">
            Cliente
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
            Tipo de pagamento
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        {% for fiado in fiados %}
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
            {{ fiado.data }}
          </th>
          <td class="px-6 py-4">
            {{ fiado.data_p }}
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
            {{ fiado.valor|floatformat:2 }}
          </td>
          <td class="px-6 py-4">
            {{ fiado.cliente }}
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
            {{ fiado.get_pagamento_display }}
          </td>
          <td
            class="px-6 py-4 {% if fiado.status == 'D' %}text-red-500{% elif fiado.status == 'P' %}text-green-500{% endif %}">
            {{ fiado.get_status_display }}
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
            <a href="{% url 'cliente:fiado_edit' fiado.id %}">
              <i class="fa-solid fa-pen-to-square fa-xl" style="color:mediumblue"></i>
            </a>
            <a href="{% url 'cliente:fiado_delete' fiado.id %}">
              <i class="fa-solid fa-trash fa-xl" style="color: red;"></i>
            </a>

          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



{% include 'parciais/_pagination.html' %}

{% endblock %}