{% extends "includes/base_dashboard.html" %}
{% load omfilters %}

{% block titulo %}Pedidos{% endblock %}

{% block content %}


<div class="bg-gray-50 shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">

  <div class="flex items-center justify-between mb-4">
    <div class="flex-shrink-0"><br><br><br>
      <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">Gestão do caixa {{ caixa.id }},
        {{ caixa.data }} <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownCircle" type="button"><i
            class="fa-solid fa-circle-plus"></i>
          <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
          </svg></button>
        <!-- Dropdown menu -->
        <div id="dropdownCircle"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reforço</a>
            </li>
            <li>
              <a href="{% url 'produto:lista' %}"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Retirada</a>
            </li>
            <li>
              <a href="{% url 'perfil:logout' %}"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Fechar Caixa</a>
            </li>

        </div>
      </span><br><br>
    </div>

  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">


    <div class="mt-4">
      <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 mb-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">Resumo Geral</span><br><br>
            <h3 class="text-base font-normal text-gray-500">Quantidade de Vendas: {{ quantidade_aprovados }}</h3>
            <h3 class="text-base font-normal text-gray-500">Valor Total: R$ {{ total_pedidos }}</h3>
            <h3 class="text-base font-normal text-gray-500">Valor Médio das Vendas: R$ {{ valor_medio_vendas }}</h3>
          </div>
        </div>
      </div>

      <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 mb-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">Resumo De Vendas</span><br><br>
            <h3 class="text-base font-normal text-gray-500">Total Vendido: R$ {{ total_pedidos }}</h3>
            <h3 class="text-base font-normal text-gray-500">Devoluções: R$ {{ soma_devolucoes }}</h3>

          </div>
        </div>
      </div>

      <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 mb-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">Movimentações do
              Caixa</span><br><br>
            <h3 class="text-base font-normal text-gray-500">Valor Inicial do Caixa: R$ {{ caixa.valor }}</h3>
            <h3 class="text-base font-normal text-gray-500">Total de Vendas: R$ {{ total_pedidos }}</h3>
            <h3 class="text-base font-normal text-gray-500">Recebimentos:</h3>
            <h3 class="text-base font-normal text-gray-500">Reforços:</h3>
            <h3 class="text-base font-normal text-gray-500">Retiradas:</h3>
            <h3 class="text-base font-normal text-gray-500">Vendas Fiado:</h3>
            <h3 class="text-base font-normal text-gray-500">Saldo:</h3>
          </div>
        </div>
      </div>

      <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 mb-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">Dinheiro</span><br><br>
            <h3 class="text-base font-normal text-gray-500">Entrada:</h3>
            <h3 class="text-base font-normal text-gray-500">Saída:</h3>
            <h3 class="text-base font-normal text-gray-500">Saldo:</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}