{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}Contas Receber | {% endblock %}

{% block conteudo %}



<div class="row">
 <div class="col">
  <br>
  <h3 class="mb-4">Contas a receber!</h3>
  <p>Abaixo todas as contas a receber cadastradas.</p>

  <div class="table-responsive">
   <table class="table table-striped">
    <tr>
     <th scope="col">Data</th>
     <th scope="col">Cliente</th>
     <th scope="col">Valor a receber</th>
     <th scope="col">Tipo de Pagamento</th>
    </tr>


    {% for conta in contasreceber %}
    <tr>
     <td>{{ conta.data }}</td>
     <th scope="row">{{ conta.cliente }}</td>
     <td>{{ conta.valor }}</td>
     <td>{{ conta.pagamento }}</td>
    </tr>
    {% endfor %}
   </table>
  </div>
 </div>
</div>

{% include 'parciais/_pagination.html' %}

{% endblock %}