{% extends "parciais/base_dashboard.html" %}
{% load omfilters %}

{% block titulo %}Detalhes do Perfil{% endblock %}

{% block content %}
<main>
  <div class="pt-6 px-4">
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">

      <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Detalhes do Perfil</h3>

      <p>Nome: {{ perfil.usuario }}</p>
      <!-- Adicione aqui outros detalhes do perfil -->

      <h4 class="text-lg leading-none font-bold text-gray-900 mt-8 mb-4">Selecione o tipo de venda:</h4>
      <p>
        <a href="{% url 'gestao:perfil_detalhe_tipo_venda' perfil.id 'V' %}">Vendas no Varejo</a> |
        <a href="{% url 'gestao:perfil_detalhe_tipo_venda' perfil.id 'A' %}">Vendas no Atacado</a>
      </p>

      {% if tipo_venda %}
      {% if tipo_venda == 'V' %}
      <h4 class="text-lg leading-none font-bold text-gray-900 mt-8 mb-4">Compras no Varejo</h4>
      {% elif tipo_venda == 'A' %}
      <h4 class="text-lg leading-none font-bold text-gray-900 mt-8 mb-4">Compras no Atacado</h4>
      {% endif %}
      {% if tipo_venda %}
      {% if tipo_venda == 'V' %}
      <p>Total Varejo: R$ {{ total_varejo }}</p>
      <p>Quantidade Varejo: {{ quantidade_varejo }}</p>

      {% elif tipo_venda == 'A' %}
      <p>Total Atacado: R$ {{ total_atacado }}</p>
      <p>Quantidade Atacado: {{ quantidade_atacado }}</p>

      {% endif %}
      {% endif %}
      {% if itens_pedido %}
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th
              class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
              Produto</th>
            <th
              class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
              Quantidade</th>
            <th
              class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">
              Preço</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          {% for item_pedido in itens_pedido %}
          <tr class="text-gray-500">
            <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">
              {{ item_pedido.produto }}-{{ item_pedido.produto_cor }}</th>
            <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
              {{ item_pedido.quantidade }}</td>
            {% if item_pedido.preco_promocional %}
            <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
              {{ item_pedido.preco_promocional|formata_preco }}</td>
            {% else %}
            <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
              {{ item_pedido.preco|formata_preco }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Nenhum item do pedido encontrado para este tipo de venda.</p>
      {% endif %}
      {% endif %}

    </div>
  </div>
</main>
{% endblock %}