{% extends "includes/base_dashboard.html" %}
{% load omfilters %}

{% block titulo %}Pedidos{% endblock %}

{% block content %}
<main>


 <div class="pt-6 px-4">
  <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
   <!-- Sessions by device Card -->
   <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">

    <!-- Card Title -->
    <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Vendas por vendedores</h3>


    <form method="GET" action="{% url 'gestao:vendedores_mais_vendem' %}">
     <div class="flex mb-4">
      <label for="data_inicio" class="mr-2">Início:</label>
      <input type="text" name="data_inicio" id="data_inicio" class="px-2 py-1 border rounded datepicker"
       autocomplete="off">
      <label for="data_fim" class="ml-4 mr-2">Fim:</label>
      <input type="text" name="data_fim" id="data_fim" class="px-2 py-1 border rounded datepicker" autocomplete="off">
      <button type="submit" class="ml-2 px-4 py-1 bg-blue-500 text-black rounded">Filtrar</button>
      <button type="submit" class="ml-2 px-4 py-1 bg-blue-500 text-black rounded"><a
        href="{% url 'gestao:vendedores_mais_vendem' %}">Limpar pesquisa</a></button>
     </div>
    </form>

    <!-- Tabela de produtos mais vendidos -->
    <div class="block w-full overflow-x-auto">
     <table class="items-center w-full bg-transparent border-collapse">
      <!-- Cabeçalho da tabela -->
      <thead>
       <tr>
        <th
         class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
         Vendedor</th>
        <th
         class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
         Quantidade</th>

       </tr>
      </thead>
      <!-- Linhas da tabela -->
      <tbody class="divide-y divide-gray-100">
       {% for vendedor in vendedores_pedidos_aprovados %}
       <tr class="text-gray-500">
        <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">
         {{ vendedor.vendedor }}</th>
        <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
         {{ vendedor.num_pedidos_aprovados }}</td>
       </tr>
       {% endfor %}
      </tbody>
     </table>
    </div>

   </div>

  </div>
 </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
 <script
  src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
 <script>
  $(document).ready(function () {
   $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true,
    todayHighlight: true,
    language: 'pt-BR'
   });
  });
 </script>
</main>
{% endblock %}