{% load omfilters %}
{% load static %}
<style>
    .header {
        background-color: #fff;
        color: #333;
        padding: 1px;
        text-align: center;
    }

    @media (max-width: 767px) {
        .navbar-brand.d-flex {
            flex-grow: 1;
            justify-content: center;
            margin-left: 7%;
            /* Ajuste o valor conforme necessário */
        }

        .header {
            background-color: #fff;
            color: #333;
            padding: 1px;
            text-align: center;
        }
    }
</style>
<div class="header">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="margin-top: 5px;">
                    <h4 style="font-size: 15px;">Compre pelo WhatsApp</h4>
                </div>
                <div class="carousel-item" style="margin-top: 5px;">
                    <h4 style="font-size: 15px;">5% de desconto</h4>
                </div>
                <div class="carousel-item" style="margin-top: 5px;">
                    <h4 style="font-size: 15px;">American Life Style Brand</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000; margin-bottom: 10px;">
    <div class="container-fluid position-relative">
        <a class="navbar-brand d-flex justify-content-center align-items-center" href="{% url 'produto:lista' %}">
            <img src="{% static 'images/logos/logoab.png'%}" alt="HTML Bootstrap Template by Pixel Rocket"
                style="width: 280px; margin-top: 05px;" class="img-fluid">
        </a>

        {% if request.session.carrinho %}
        <a class="navbar-toggler" href="{% url 'produto:carrinho' %}"
            style="background-color: #000; position: absolute; top: 65%; right: 15px; border-radius: 10%; border-color: #000; text-decoration: none;">
            <i class="fi fi-rs-shopping-bag" style="color: #fff;"></i></i>
        </a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            style="border-radius: 10%; background-color: #000; border-color: #000;">
            <i class="fi fi-rs-burger-menu" style="color: #fff;"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto"> <!-- Adicionada a classe ms-auto -->
                <li class="nav-item" style="margin-top: 15px;">
                    <form class="input-group" method="GET" action="{% url 'produto:busca' %}">
                        <input name="termo" value="{{ request.GET.termo }}" class="form-control border-0"
                            placeholder="Pesquisar" style="background-color: #f2f2f2; height: 40px;">
                        <div class="input-group-append">
                            <button class="btn btn-secondary py-0" type="submit"
                                style="background-color: #333; border-color: #333; height: 40px;">
                                <i class="fi fi-rs-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
                <br>
                {% if request.session.carrinho %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produto:carrinho' %}"
                        style="font-size: 14px; background-color:  #000;">
                        Carrinho <i class="fi fi-rs-shopping-bag"></i>({{ request.session.carrinho|cart_total_qtd }}X)
                    </a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"
                        style="font-size: 14px; background-color:  #000;">
                        Minha conta
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'pedido:lista' %}">Meus pedidos</a></li>
                        <li><a class="dropdown-item" href="{% url 'perfil:criar' %}">Atualizar meus dados</a></li>
                        <li><a class="dropdown-item" href="{% url 'perfil:logout' %}">Sair</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente:codigo_acesso' %}"
                        style="font-size: 14px; background-color:  #000;">
                        Catálogo de atacado
                    </a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gestao:dashboard' %}"
                        style="font-size: 14px; background-color:  #000;">
                        Painel Administrativo
                    </a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil:criar' %}"
                        style="font-size: 14px; background-color:  #000;">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente:codigo_acesso' %}"
                        style="font-size: 14px; background-color:  #000;">
                        Catálogo de atacado
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>