{% load omfilters %}
{% load static %}

<script src="https://kit.fontawesome.com/4e22b0d525.js" crossorigin="anonymous"></script>
<!-- banner bg main start -->
<div class="banner_bg_main">
    <!-- header top section start -->
    <div class="container">
        <div class="header_section_top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom_menu">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top section start -->
    <!-- logo section start -->
    <div class="logo_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo"><a href="{% url 'produto:lista' %}"><img src="{% static 'images/logo.png'%}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- logo section end -->
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="containt_main">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for categoria in categorias %}
                        <a class="dropdown-item"
                            href="{% url 'produto:lista_por_categoria' categoria_slug=categoria.slug %}"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            {{ categoria.nome }}</a>
                        {% endfor %}
                        <a class="dropdown-item" href="/">Todas as roupas</a>
                    </div>
                </div>

                <div class="main">
                    <!-- Another variation with a button -->
                    <form class="input-group" method="GET" action="{% url 'produto:busca' %}">
                        <input name="termo" value="{{ request.GET.termo }}" class="form-control"
                            placeholder="Pesquisar">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit"
                                style="background-color: #333; border-color:#333 ">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="header_box">
                    <div class="login_menu">
                        {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conta
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'pedido:lista' %}">Meus pedidos</a>
                                <a class="dropdown-item" href="{% url 'perfil:criar' %}">Atualizar meus dados</a>
                                <a class="dropdown-item" href="{% url 'perfil:logout' %}">Sair</a>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Painel
                                    Administrativo
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'produto:cadastros' %}">Cadastros</a>
                                    <a class="dropdown-item" href="{% url 'gestao:gestao' %}">Gestão</a>
                                    <a class="dropdown-item" href="{% url 'gestao:dashboard' %}">Dashboard</a>
                                </div>
                            </div>


                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ver Atacado
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'cliente:codigo_acesso' %}">Catálogo de
                                        Atacado</a>

                                </div>
                            </div>

                            {% if request.user.is_superuser %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'produto:categoria_add' %}">Cadastrar
                                        Produtos</a>
                                    <a class="dropdown-item" href="{% url 'pedido:lista_admin' %}">Gerenciar
                                        Pedidos</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% else %}
                        <li><a href="{% url 'perfil:criar' %}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="padding_10">Login</span></a>
                        </li>
                        <li><a href="{% url 'perfil:criar' %}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="padding_10">Criar conta</span></a>
                        </li>
                        {% endif %}

                        {% if request.session.carrinho %}
                        <ul>
                            <li><a href="{% url 'produto:carrinho' %}">
                                    <i aria-hidden="true"></i>
                                    <span class="padding_10">Carrinho</span>
                                    <span class="nav-cart-count mr-1">
                                        <strong>{{ request.session.carrinho|cart_total_qtd }}x</strong>
                                    </span>
                                    <span class="nav-cart-icon mr-2">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                </a></a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <!-- <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital">Coleção Nova<br>Chegando</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital">As melhores novidades<br>aqui!</h1>
                            </div>
                        </div>
                    </div>
                </div>
          <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>-->
        </div>

    </div>
</div>
</div>