{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}Gestão | {% endblock %}

{% block conteudo %}
<div class="fashion_section">
    <div class="container">
        <div class="list-group">
         <br>
         <button type="button" class="list-group-item list-group-item-action active">
           GESTÃO
         </button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'produto:categoria_add' %}">CONTROLE DE CAIXA <i class="fa-solid fa-arrow-right"></i></a></button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'pedido:lista_admin' %}">PEDIDOS EM ABERTO <i class="fa-solid fa-arrow-right"></i></i></a></button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'cliente:lista_fiado' %}">CONTAS DE CLIENTES (FIADO) <i class="fa-solid fa-arrow-right"></i></i></a></button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'vendas:vendedor_create' %}">CONSULTAR ESTOQUE <i class="fa-solid fa-arrow-right"></i></a></button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'pedido:devolucao_create' %}">CONSULTAR VENDAS <i class="fa-solid fa-arrow-right"></i></a></button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'gestao:lista_devolucao' %}">CONSULTAR DEVOLUÇÕES <i class="fa-solid fa-arrow-right"></i></i></a></button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'vendas:vendedor_create' %}">RELATÓRIOS <i class="fa-solid fa-arrow-right"></i></i></a></button>
         <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'pedido:devolucao_create' %}">FINANCEIRO <i class="fa-solid fa-arrow-right"></i></i></a></button>
       </div>
    </div>
</div>

{% endblock %}