{% extends 'base.html' %}
{% load static %}
{% load omfilters %}

{% block titulo %}Pagamento | {% endblock %}



{% block conteudo %}
<!-- Main Section-->
<section class="mt-0  vh-lg-100">
    <!-- Page Content Goes Here -->
    <div class="container">
        <div class="row g-0 vh-lg-100">
            <div class="col-lg-7 pt-5 pt-lg-10">
                <div class="pe-lg-5">
                    <nav class="d-none d-md-block">
                        <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                            <li class="me-4"><a class="nav-link-checkout " href="./cart.html">Your Cart</a></li>
                            <li class="me-4"><a class="nav-link-checkout " href="./checkout.html">Information</a></li>
                            <li class="me-4"><a class="nav-link-checkout " href="./checkout-shipping.html">Shipping</a>
                            </li>
                            <li><a class="nav-link-checkout nav-link-last active"
                                    href="./checkout-payment.html">Payment</a></li>
                        </ul>
                    </nav>
                    <div class="mt-5">
                        <!-- Checkout Information Summary -->
                        <!-- Checkout Panel Information-->
                        <h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Infomação de Pagamento</h3>

                        <div class="row">

                            <!-- Payment Option-->
                            <div class="col-12">
                                <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                    <input class="form-check-input" type="radio" name="checkoutPaymentMethod"
                                        id="checoutPaymentStripe" checked>
                                    <label class="form-check-label" for="checoutPaymentStripe">
                                        <span class="d-flex justify-content-between align-items-start">
                                            <span>
                                                <span class="mb-0 fw-bolder d-block">Cartão de crédito</span>
                                            </span>
                                            <i class="ri-bank-card-line"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <!-- Payment Option-->
                            <div class="col-12">
                                <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                    <input class="form-check-input" type="radio" name="checkoutPaymentMethod"
                                        id="checkoutPaymentPaypal">
                                    <label class="form-check-label" for="checkoutPaymentPaypal">
                                        <span class="d-flex justify-content-between align-items-start">
                                            <span>
                                                <span class="mb-0 fw-bolder d-block">PayPal</span>
                                            </span>
                                            <i class="ri-paypal-line"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Payment Details-->
                        <div class="card-details">
                            <div class="row pt-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cc-name" class="form-label">Name on card</label>
                                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                        <small class="text-muted">Full name as displayed on card</small>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cc-number" class="form-label">Credit card number</label>
                                        <input type="text" class="form-control" id="cc-number" placeholder=""
                                            required="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cc-expiration" class="form-label">Expiration</label>
                                        <input type="text" class="form-control" id="cc-expiration" placeholder=""
                                            required="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <label for="cc-cvv"
                                                class="form-label d-flex w-100 justify-content-between align-items-center">Security
                                                Code</label>
                                            <button type="button" class="btn btn-link p-0 fw-bolder fs-xs text-nowrap"
                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="A CVV is a number on your credit card or debit card that's in addition to your credit card number and expiration date">
                                                What's this?
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Payment Details-->

                        <!-- Paypal Info-->
                        <div class="paypal-details bg-light p-4 d-none my-3 fw-bolder">
                            Please click on complete order. You will then be transferred to Paypal to enter your payment
                            details.
                        </div>
                        <!-- /Paypal Info-->

                        <!-- Accept Terms Checkbox-->
                        <div class="form-group form-check m-0">
                            <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                            <label class="form-check-label fw-bolder" for="accept-terms">Concordo com os termos da<a
                                    href="#"> American Brand</a></label>
                        </div>

                        <div
                            class="pt-5 mt-5 pb-5 border-top d-flex flex-column flex-md-row justify-content-between align-items-center">
                            <a href="./checkout-shipping.html"
                                class="btn ps-md-0 btn-link fw-bolder w-100 w-md-auto mb-2 mb-md-0"
                                role="button">Retornar para o envio</a>
                            <a href="#" class="btn btn-dark w-100 w-md-auto" role="button">Completar pagamento</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                    <div class="pb-3">
                        {% for linha in pedido.itempedido_set.all %}

                        <!-- Cart Item-->
                        <div class="row mx-0 py-4 g-0 border-bottom">
                            <div class="col-2 position-relative">
                                <span class="checkout-item-qty">{{ linha.quantidade }}</span>
                                <picture class="d-block border">
                                    <img class="img-fluid" src="{% get_media_prefix %}{{ linha.imagem }}"
                                        alt="HTML Bootstrap Template by Pixel Rocket">
                                </picture>
                            </div>
                            <div class="col-9 offset-1">
                                <div>
                                    <h6 class="justify-content-between d-flex align-items-start mb-2">
                                        {{ linha.produto_nome }}


                                    </h6>
                                    Tamanho: {{ linha.variacao_nome }}<br>
                                    Quantidade: {{ linha.quantidade }}
                                </div>
                                <p class="fw-bolder text-end text-muted m-0">
                                    {% if linha.preco_promocional %}
                                    {{ linha.preco_promocional|formata_preco }}
                                    {% else %}
                                    {{ linha.preco|formata_preco }}
                                    {% endif %}</p>
                            </div>
                        </div> <!-- / Cart Item-->

                    </div>
                    <div class="py-4 border-bottom">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bolder fs-6">Subtotal:
                            </p>
                            <p class="m-0 fs-6 fw-bolder">{% if linha.preco_promocional %}
                                {{ linha.preco_promocional|formata_preco }}
                                {% else %}
                                {{ linha.preco|formata_preco }}
                                {% endif %}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p class="m-0 fw-bolder fs-6">Frete</p>
                            <p class="m-0 fs-6 fw-bolder">R$8.95</p>
                        </div>
                    </div>
                    <div class="py-4 border-bottom">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="m-0 fw-bold fs-5">Total</p>
                                <span class="text-muted small">Produto + Frete</span>
                            </div>
                            <p class="m-0 fs-5 fw-bold">$422.99</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="py-4">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Insira seu cupom">
                            <button class="btn btn-dark btn-sm px-4">Aplicar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</section>
<!-- / Main Section-->


<div class="row">
    <div class="col">
        <br>
        <h3>Escolha o método de pagamento</h3>
        <!-- Set up a container element for the button -->
        <div id="paypal-button-container"></div>

        <!-- Include the PayPal JavaScript SDK -->
        <script
            src="https://www.paypal.com/sdk/js?client-id=AaWIZMX8Dg-XhFaYc5MuTL3Qo-he9uNUtBfrBgA6m3Z8sbH5vI_A63ZN61LRsT-v7T7NkIprZHn5fjFx"> // Replace YOUR_CLIENT_ID with your sandbox client ID
            </script>

        <div id="paypal-button-container"></div>

        <script>
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({
                locale: 'it_IT',
                style: {
                    color: 'gold',
                    shape: 'rect',
                    layout: 'vertical',
                    label: 'pay'
                },

                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '88.44'
                            }
                        }]
                    });
                },
                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (orderData) {
                        // Successful capture! For demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        var transaction = orderData.purchase_units[0].payments.captures[0];
                        alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                        // Replace the above to show a success message within this page, e.g.
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '';
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                }


            }).render('#paypal-button-container');
        </script>
    </div>
</div>

<!-- {% include 'parciais/_pedido.html' %} !-->


{% endblock %}