{% extends 'base.html' %}
{% load static %}

{% load omfilters %}

{% block titulo %}Produtos | {% endblock %}

{% block conteudo %}
<!-- Custom Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .color-options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .color-option {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(100%);
    }

    .add-to-cart-button {
        top: 720px;
        left: 50%;
        width: 200px;
        padding: 20px;
        border-radius: 5px;
    }


    /* Posicionar os botões na tela somente em dispositivos móveis */
    @media (max-width: 769px) {
        .bottom-div {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            /* Altura da div */
            /* Cor de fundo */
            display: flex;
            justify-content: space-between;
            padding: 10px;

        }

        .half-button-left,
        .half-button-right {
            top: 665px;
            width: 50%;
            height: 40px;
            /* Botões ocupam metade da largura na tela do mobile */

        }

        /* Posicionar os botões no canto inferior esquerdo e inferior direito */
        .half-button-left {
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 0px 2px 0px 0px;

        }

        .half-button-right {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 0px 5px 0px 0px;
        }

        /* Estilizar os botões para ocuparem a div bottom-div inteira */
        .btn.btn-sm {
            width: 100%;
            height: 100%;
            font-size: 15px;
            /* Tamanho da fonte dos botões */
            padding: 15px 20px 30px;
            /* Padding dos botões (ajuste conforme necessário) */
            border-radius: 10px;
            /* Bordas arredondadas */

        }

        /* Estilizar o carrossel */
        #carouselExample {
            width: 110%;
            max-width: 500px;
            /* Defina a largura máxima desejada para as imagens */
            height: auto;
            /* Ajusta automaticamente a altura para manter a proporção */
            margin-top: -81px;
            margin-left: -18px;
            ;


            /* Adicione um espaço entre o carrossel e a div de informações do produto */
        }

        .carousel-item img {
            width: 100%;
            height: auto;
            margin-bottom: -50px;

        }

        /* Estilizar o texto e os botões */
        #product-information h1 {
            margin-top: -1px;
            font-size: 15px;
            /* Ajuste o tamanho da fonte do título */
        }

        #product-information p {
            margin-top: -40px !important;
            /* Ajuste o tamanho da fonte do título */
        }

        .text-left-mobile {
            text-align: left;
        }

        .custom-margin-top {
            margin-top: -25px;
            text-align: left;

            /* Ajuste o valor da margem conforme necessário */
        }

    }
</style>
<!-- Main Section-->
<section class="mt-0">
    <!-- Page Content Goes Here -->



    <div class="container-fluid mt-5">

        <!-- Product Top Section-->
        <div class="row" data-sticky-container>

            <!-- Product Images -->
            <div class="col-12 col-md-6 col-xl-7">
                <div id="carouselExample" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                                <picture>
                                    <img class="img-fluid" data-zoomable src="{{ produto.imagem.url }}"
                                        alt="{{ produto.nome }}">
                                </picture>
                            </div>
                        </div>
                        {% for imagem in produto.imagens.all %}
                        {% if imagem.imagem %}
                        <div class="carousel-item">
                            <div class=" justify-content-center">
                                <picture>
                                    <img class="img-fluid" data-zoomable src="{{ imagem.imagem.url }}"
                                        alt="HTML Bootstrap Template by Pixel Rocket">
                                </picture>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- /Product Images -->



            <div class="col-12 col-md-6 col-lg-5">
                <div class="sticky-top top-5" id="product-information">
                    <div class="pb-3" data-aos="fade-in">


                        <div class="pb-3 text-center" data-aos="fade-in">
                            <h1 class="mb-1 fw-bold">{{ produto.nome }}
                            </h1><br>


                            <div class="d-flex justify-content-center align-items-center text-center">
                                <!-- Preço para desktop -->
                                <p class="fs-4 m-0 d-none d-md-block">
                                    {% if produto.preco_marketing_promocional %}
                                    <span id="variation-preco-promocional" class="product-price mb-2"
                                        style="font-size: 35px; font-weight: bold;">
                                        {{ produto.preco_marketing_promocional|formata_preco }}
                                    </span>
                                    <span id="variation-preco" class="product-old-price text-muted mb-2"
                                        style="font-size: 24px;">
                                        <s>{{ produto.preco_marketing|formata_preco }}</s>
                                    </span>
                                    {% else %}
                                    <span id="variation-preco" class="product-price mb-2" style="font-size: 35px;">
                                        {{ produto.preco_marketing|formata_preco }}
                                    </span>
                                    {% endif %}
                                </p>

                                <!-- Preço para mobile -->
                                <p class="fs-4 m-0 d-md-none text-left-mobile">
                                    {% if produto.preco_marketing_promocional %}
                                    <span id="variation-preco-promocional" class="product-price mb-2 text-left-mobile"
                                        style="font-size: 20px; font-weight: bold;">
                                        {{ produto.preco_marketing_promocional|formata_preco }}
                                    </span>
                                    <span id="variation-preco"
                                        class="product-old-price text-muted mb-2 text-left-mobile"
                                        style="font-size: 13px;">
                                        <s>{{ produto.preco_marketing|formata_preco }}</s>
                                    </span>
                                    {% else %}
                                    <span id="variation-preco" class="product-price mb-2 text-left-mobile"
                                        style="font-size: 20px; ">
                                        {{ produto.preco_marketing|formata_preco }}
                                    </span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <form action="{% url 'produto:adicionaraocarrinho' %}" id="form-add-to-cart">
                            <div class="form-group d-flex justify-content-center flex-wrap custom-margin-top">
                                {% for variacao in produto.variacao_set.all %}
                                {% if variacao.preco_promocional %}
                                <div class="form-check form-check-inline p-2">
                                    <input class="form-check-input" type="radio" style="margin-top: 30px;" name="vid"
                                        id="variacao-{{ variacao.id }}" value="{{ variacao.id }}" {% if forloop.first %}
                                        checked {% endif %}>
                                    <label class="form-check-label rounded-circle" for="variacao-{{ variacao.id }}"
                                        style="width: 40px; height: 40px; background-color: #f8f9fa; border: 1px solid #dee2e6; display: flex; justify-content: center; align-items: center; margin-top: 30px;">
                                        {% if variacao.nome %}
                                        {{ variacao.nome }}
                                        {% else %}
                                        {{ variacao }}
                                        {% endif %}
                                    </label>
                                </div>
                                {% else %}
                                <div class="form-check form-check-inline p-2">
                                    <input class="form-check-input" type="radio" name="vid"
                                        id="variacao-{{ variacao.id }}" value="{{ variacao.id }}" {% if forloop.first %}
                                        checked {% endif %}>
                                    <label class="form-check-label rounded-circle" for="variacao-{{ variacao.id }}"
                                        style="width: 40px; height: 40px; background-color: #f8f9fa; border: 1px solid #dee2e6; display: flex; justify-content: center; align-items: center;">
                                        {% if variacao.nome %}
                                        {{ variacao.nome }}
                                        {% endif %}
                                    </label>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="form-group" style="margin-top: -30px;">
                                <label for="quantidade">Quantidade:</label>
                                <input type="number" name="quantidade" id="quantidade" class=" form-control-sm"
                                    value="1" min="1" required>
                            </div>

                            <div class="text-center d-none d-md-block">
                                <button type="submit" class="btn btn-dark btn-sm add-to-cart-button"
                                    data-product-added="false">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Adicionar ao Carrinho
                                </button>
                            </div>

                            <!-- No arquivo HTML -->
                            <!-- Botões "Adicionar ao Carrinho" e "Compre agora" apenas em dispositivos móveis -->
                            <div class="bottom-div fixed-bottom d-block d-md-none">
                                <!-- Adicione a classe "fixed-bottom" diretamente aqui -->
                                <div class="half-button-left">
                                    <button type="submit" class="btn btn-dark btn-sm buy-now-button">
                                        Adicionar ao Carrinho
                                    </button>
                                </div>
                                <div class="half-button-right">
                                    <button type="submit" class="btn btn-dark btn-sm buy-now-button">
                                        Compre agora
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Color Options -->
                        <div class="mt-5 text-center">
                            <h3 class="mb-3">Cores Disponíveis</h3>
                            <div class="color-options">
                                {% for produto_igual in produtos_iguais %}
                                {% if produto_igual.modalidade == 'A' and produto.modalidade == 'A' %}
                                {% if produto_igual.imagem %}
                                <a href="{% url 'produto:detalhe' produto_igual.slug %}">
                                    <div class="color-option"
                                        style="background-image: url('{{ produto_igual.imagem.url }}');"></div>
                                </a>
                                {% endif %}
                                {% elif produto_igual.modalidade == 'V' and produto.modalidade == 'V' %}
                                {% if produto_igual.imagem %}
                                <a href="{% url 'produto:detalhe' produto_igual.slug %}">
                                    <div class="color-option"
                                        style="background-image: url('{{ produto_igual.imagem.url }}');"></div>
                                </a>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- / Color Options -->
                        <br>


                        <!-- Product Accordion -->
                        <div class="accordion" id="accordionProduct">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Descrição
                                    </button>
                                </h2>
                                <br>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionProduct">
                                    <div class="accordion-body">
                                        <p class="m-0">{{ produto.descricao_curta }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Product Accordion-->







                    </div>
                </div>
            </div>
            <!-- / Product Information-->
        </div>
        <!-- / Product Top Section-->


    </div>

    <!-- Pop-up de confirmação -->
    <div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToCartModalLabel">Produto Adicionado ao Carrinho</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    Seu produto foi adicionado ao carrinho.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar Comprando</button>
                    <a href="{% url 'produto:carrinho' %}" class="btn btn-dark">Finalizar Pedido</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- / Main Section-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var addToCartButton = document.querySelector('.add-to-cart-button');

        addToCartButton.addEventListener('click', function () {
            addToCartButton.setAttribute('data-product-added', 'true');
            sessionStorage.setItem('productAdded', 'true');
        });

        function showAddToCartModal() {
            var addToCartModal = new bootstrap.Modal(document.getElementById('addToCartModal'));
            addToCartModal.show();
        }

        // Verifica se o produto foi adicionado e exibe o modal, se necessário
        var productAdded = sessionStorage.getItem('productAdded');
        if (productAdded === 'true') {
            showAddToCartModal();
            // Limpa o sessionStorage para não exibir o modal novamente na próxima página carregada
            sessionStorage.removeItem('productAdded');
        }
    });
</script>
{% endblock %}