{% extends "includes/base_dashboard.html" %}
{% load omfilters %}

{% block titulo %}Pedidos{% endblock %}

{% block content %}

<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8  2xl:col-span-2">

 <div class="flex items-center justify-between mb-4">
  <div class="flex-shrink-0"><br><br><br>
   <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">Fornecedores</span><br><br>
  </div>

 </div>

 <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
   <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
    <tr>
     <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
      Nome
     </th>
     <th scope="col" class="px-6 py-3">
      Cnpj
     </th>
     <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
      E-mail
     </th>
     <th scope="col" class="px-6 py-3">
      Endereço
     </th>
     <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
      Ações
     </th>
    </tr>
   </thead>
   <tbody>
    {% for fornecedor in fornecedores %}
    <tr class="border-b border-gray-200 dark:border-gray-700">
     <th scope="row"
      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
      {{ fornecedor.nome }}
     </th>
     <td class="px-6 py-4">
      {{ fornecedor.cnpj }}
     </td>
     <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
      {{ fornecedor.email }}
     </td>
     <td class="px-6 py-4">
      {{ fornecedor.endereco }}, {{ fornecedor.numero }}, {{ fornecedor.complemento }},<br> {{ fornecedor.bairro }},
      {{ fornecedor.cep }}, {{ fornecedor.cidade }}, {{ fornecedor.estado }}
     </td>
     <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
      <a href="{% url 'produto:fornecedor_edit' fornecedor.id %}">
       <i class="fa-solid fa-pen-to-square fa-xl" style="color:mediumblue"></i>
      </a>
      <a href="{% url 'produto:fornecedor_delete' fornecedor.id %}">
       <i class="fa-solid fa-trash fa-xl" style="color: red;"></i>
      </a>
     </td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
 </div>
</div>


{% include 'parciais/_pagination.html' %}

{% endblock %}