{% extends 'base.html' %}
{% load static %}

{% load omfilters %}

{% block titulo %} {% endblock %}

{% block conteudo %}

<!-- Products-->
<div class="row g-4">

 <div class="d-flex justify-content-center align-items-center pt-5 pb-4 flex-column flex-lg-row">
  <div style="max-width: 800px;"> <!-- Ajuste o valor conforme necessário -->
   <h1 class="fw-bold fs-3 mb-2 text-center" style="text-align: justify;">SOBRE</h1>
   <h1 class="fw-bold fs-3 mb-2 " style="text-align: justify;">A American Brand é uma marca de roupas masculina que
    busca se destacar no mercado por
    sua pegada jovial, despojada e casual. Com uma grande variedade de produtos, a American
    Brand tem como objetivo atender às necessidades dos homens modernos que buscam
    qualidade e estilo em suas roupas.
    Para se diferenciar da concorrência e fortalecer sua presença no mercado, a American Brand
    buscou a ajuda de nossa agência de criação, design, branding e estratégia para desenvolver um
    projeto de branding e identidade visual que pudesse refletir sua personalidade e seus valores aos
    consumidores.
    Nesta apresentação, vamos mostrar todo o processo de criação e desenvolvimento do projeto,
    desde o conceito até a aplicação da identidade visual em diferentes peças de comunicação.
    Esperamos que, ao final desta apresentação, vocês possam entender melhor como a American
    Brand será percebida pelos seus clientes e como a nova identidade visual contribuirá para o
    crescimento da marca.</h1>
  </div>
 </div> <!-- /Category Toolbar-->



 <!-- Instagram-->
 <!-- Swiper Instagram -->
 <div data-aos="fade-in">
  <h3 class="title-small text-muted text-center mb-3 mt-5">
   <i class="ri-instagram-line align-bottom"></i>
   <a href="https://www.instagram.com/americanbrandbr/" style="text-decoration: none;">AMERICANBRANDBR</a>
  </h3>
 </div>
 <!-- /Swiper Instagram-->
 <!-- / Instagram-->

</div>
<!-- / Products-->

<br><br>


<!-- /Page Content -->
</section>
<!-- / Main Section-->

{% endblock %}